# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
backend/build/
backend/node_modules/
backend/typings/
backend/iglubook.sqlite3
www/css/ionic.app.css
www/css/ionic.app.min.css
